/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	border:5px solid red;


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	border:5px solid green;
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	border:5px solid blue;
}